

.login-container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin: 5px 0 10px;
}

button {
    width: 100%;
    padding: 10px;
    background: #2b6cb0;
    color: white;
    border: none;
}

.error {
    color: rgb(244, 49, 49);
    font-size: 12px;
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f4f8;
    color: #222;
}


body.dark-mode {
    background: #121212;
    color: #f1f1f1;
}


.topbar {
    height: 60px;
    background: #2b6cb0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.theme-btn {
    padding: 8px 12px;
    background: white;
    color: #2b6cb0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;
    margin-right: 15px;
}

body.dark-mode .topbar {
    background: #1a1a1a;
}

body.dark-mode .theme-btn {
    background: #333;
    color: white;
}
body.dark-mode .sidebar {
    background: #1a202c;  }